In [126]:
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

In [127]:
req = Request('https://in.investing.com/equities/itc-historical-data?end_date=1581532200&st_date=1388514600'
                , headers={'User-Agent': 'Mozilla/5.0'})

In [128]:
pages = urlopen(req).read()

In [129]:
soup = BeautifulSoup(pages.decode('utf-8'),'html.parser')

In [130]:
list_value = list(soup.children)

In [131]:
html_page = list_value[3]

In [132]:
html_body=list(html_page.children)[3]

In [133]:
table_intended =  html_body.findAllNext('table')[1]

In [134]:
tbody = list(table_intended.children)[5]

In [135]:
rows = tbody.findAll('tr')

In [136]:
rows[9]

<tr class="common-table-item">
<td class="col-rowDate">
<span class="text">Jan 31, 2020</span>
<button aria-label="Earning" class="date-event tooltip-button" data-tooltip="Earning"><span class="text">E</span></button>
</td>
<td class="col-last_close u-txt-align-end u-up u-txt-align-end">
<span class="text">235.15</span>
</td>
<td class="col-last_open u-txt-align-end u-txt-align-end">
<span class="text">235.75</span>
</td>
<td class="col-last_max u-txt-align-end u-txt-align-end">
<span class="text">238.40</span>
</td>
<td class="col-last_min u-txt-align-end u-txt-align-end">
<span class="text">234.05</span>
</td>
<td class="col-volume u-txt-align-end">
<span class="text">18.46M</span>
</td>
<td class="col-change_percent u-txt-align-end u-up">
<span class="text">0.47%</span>
</td>
</tr>

In [137]:
rows[8]

<tr class="common-table-item">
<td class="col-rowDate">
<span class="text">Feb 01, 2020</span>
</td>
<td class="col-last_close u-txt-align-end u-down u-txt-align-end">
<span class="text">219.00</span>
</td>
<td class="col-last_open u-txt-align-end u-txt-align-end">
<span class="text">236.60</span>
</td>
<td class="col-last_max u-txt-align-end u-txt-align-end">
<span class="text">239.10</span>
</td>
<td class="col-last_min u-txt-align-end u-txt-align-end">
<span class="text">215.65</span>
</td>
<td class="col-volume u-txt-align-end">
<span class="text">42.27M</span>
</td>
<td class="col-change_percent u-txt-align-end u-down">
<span class="text">-6.87%</span>
</td>
</tr>

In [138]:
len(rows[9].findAll('span'))

8

In [139]:
len(rows[8].findAll('span'))

7

In [140]:
list_collection = list()
for row in rows:
    span_list = row.findAll('span')
    dic = dict()
    dic['Date']=span_list[0].get_text()
    if(len(span_list)==7):
        dic['Last Close Price']=span_list[1].get_text()
        dic['Open']=span_list[2].get_text()
        dic['High']=span_list[3].get_text()
        dic['Low']=span_list[4].get_text()
        dic['Volume']=span_list[5].get_text()
        dic['Percentage Changes']=span_list[6].get_text()
        dic['Events'] = ""
    else:
        dic['Last Close Price']=span_list[2].get_text()
        dic['Open']=span_list[3].get_text()
        dic['High']=span_list[4].get_text()
        dic['Low']=span_list[5].get_text()
        dic['Volume']=span_list[6].get_text()
        dic['Percentage Changes']=span_list[7].get_text()
        dic['Events'] = span_list[1].get_text()
    list_collection.append(dic)
    dic = None

In [141]:
import pandas as pd
data_frame = pd.DataFrame(list_collection)
data_frame.head(15)

,Date,Last Close Price,Open,High,Low,Volume,Percentage Changes,Events
0,"Feb 12, 2020",213.05,213.40,214.80,211.80,9.93M,0.21%,
1,"Feb 11, 2020",212.60,216.50,216.95,211.80,29.80M,0.97%,
2,"Feb 10, 2020",210.55,214.00,214.05,210.05,9.62M,-1.34%,
3,"Feb 07, 2020",213.40,213.80,215.70,212.75,17.13M,-0.07%,
4,"Feb 06, 2020",213.55,218.00,219.90,211.80,27.39M,-1.34%,
5,"Feb 05, 2020",216.45,216.30,217.50,211.50,21.25M,0.37%,
6,"Feb 04, 2020",215.65,210.80,217.60,209.15,35.77M,3.88%,
7,"Feb 03, 2020",207.60,215.00,216.90,205.00,79.76M,-5.21%,
8,"Feb 01, 2020",219.00,236.60,239.10,215.65,42.27M,-6.87%,
9,"Jan 31, 2020",235.15,235.75,238.40,234.05,18.46M,0.47%,E
10,"Jan 30, 2020",234.05,236.95,237.00,233.00,10.39M,-1.10%,
11,"Jan 29, 2020",236.65,231.50,237.65,231.15,20.47M,2.56%,
12,"Jan 28, 2020",230.75,234.75,235.90,230.50,14.58M,-1.64%,
13,"Jan 27, 2020",234.60,237.00,237.40,234.30,6.84M,-1.49%,
14,"Jan 24, 2020",238.15,237.40,239.10,237.00,6.80M,0.11%,

In [142]:
result = data_frame[data_frame['Last Close Price'] == 'E']
result

Empty DataFrame
Columns: [Date, Last Close Price, Open, High, Low, Volume, Percentage Changes, Events]
Index: []

In [143]:
for i in list(result.index):
    data_frame.at[i,"Last Close Price"]= data_frame.at[i,"Open"]
    data_frame.at[i,"Open"] = data_frame.at[i,"High"]
    data_frame.at[i,"High"] = data_frame.at[i,"Low"]
    data_frame.at[i,"Low"] = data_frame.at[i,"Volume"]
    data_frame.at[i,"Volume"] = data_frame.at[i,"Percentage Changes"]
    percentage = 100*(float(data_frame.at[i,"Last Close Price"]) - float(data_frame.at[i,"Open"])) / float(data_frame.at[i,"Open"])
    data_frame.at[i,"Percentage Changes"] = '{0:.2f}'.format(percentage) + '%'

In [144]:
result = data_frame[data_frame['Last Close Price'] == 'E']
result

Empty DataFrame
Columns: [Date, Last Close Price, Open, High, Low, Volume, Percentage Changes, Events]
Index: []

In [145]:
data_frame.head(15)

,Date,Last Close Price,Open,High,Low,Volume,Percentage Changes,Events
0,"Feb 12, 2020",213.05,213.40,214.80,211.80,9.93M,0.21%,
1,"Feb 11, 2020",212.60,216.50,216.95,211.80,29.80M,0.97%,
2,"Feb 10, 2020",210.55,214.00,214.05,210.05,9.62M,-1.34%,
3,"Feb 07, 2020",213.40,213.80,215.70,212.75,17.13M,-0.07%,
4,"Feb 06, 2020",213.55,218.00,219.90,211.80,27.39M,-1.34%,
5,"Feb 05, 2020",216.45,216.30,217.50,211.50,21.25M,0.37%,
6,"Feb 04, 2020",215.65,210.80,217.60,209.15,35.77M,3.88%,
7,"Feb 03, 2020",207.60,215.00,216.90,205.00,79.76M,-5.21%,
8,"Feb 01, 2020",219.00,236.60,239.10,215.65,42.27M,-6.87%,
9,"Jan 31, 2020",235.15,235.75,238.40,234.05,18.46M,0.47%,E
10,"Jan 30, 2020",234.05,236.95,237.00,233.00,10.39M,-1.10%,
11,"Jan 29, 2020",236.65,231.50,237.65,231.15,20.47M,2.56%,
12,"Jan 28, 2020",230.75,234.75,235.90,230.50,14.58M,-1.64%,
13,"Jan 27, 2020",234.60,237.00,237.40,234.30,6.84M,-1.49%,
14,"Jan 24, 2020",238.15,237.40,239.10,237.00,6.80M,0.11%,

In [146]:
data_frame.to_csv('ITC_historical.csv')

In [147]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1510 entries, 0 to 1509
Data columns (total 8 columns):
Date                  1510 non-null object
Last Close Price      1510 non-null object
Open                  1510 non-null object
High                  1510 non-null object
Low                   1510 non-null object
Volume                1510 non-null object
Percentage Changes    1510 non-null object
Events                1510 non-null object
dtypes: object(8)
memory usage: 94.5+ KB

In [148]:
data_frame.describe()

,Date,Last Close Price,Open,High,Low,Volume,Percentage Changes,Events
count,1510,1510,1510,1510,1510,1510,1510,1510
unique,1510,1181,998,1071,1112,973,526,4
top,"Apr 09, 2014",258.30,268.00,284.00,207.17,9.37M,0.02%,
freq,1,4,10,9,8,7,11,1479

In [149]:
date_inex = pd.to_datetime(data_frame.Date)

In [150]:
data_frame.Date = date_inex

In [179]:
data_frame[data_frame.Volume.str.contains('M')]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [175]:
dir(data_frame.Volume.str)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_inferred_dtype',
 '_is_categorical',
 '_make_accessor',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [156]:
data_frame.sort_values(by=['Date'])

,Date,Last Close Price,Open,High,Low,Volume,Percentage Changes,Events
1509,2014-01-01,213.74,213.67,214.40,212.88,1.86M,0.17%,
1508,2014-01-02,208.80,213.70,215.46,208.37,6.78M,-2.31%,
1507,2014-01-03,208.67,208.83,209.49,205.75,12.00M,-0.06%,
1506,2014-01-06,209.26,208.83,209.96,207.84,8.16M,0.28%,
1505,2014-01-07,209.96,209.83,210.42,207.34,7.78M,0.33%,
...,...,...,...,...,...,...,...,...
4,2020-02-06,213.55,218.00,219.90,211.80,27.39M,-1.34%,
3,2020-02-07,213.40,213.80,215.70,212.75,17.13M,-0.07%,
2,2020-02-10,210.55,214.00,214.05,210.05,9.62M,-1.34%,
1,2020-02-11,212.60,216.50,216.95,211.80,29.80M,0.97%,
0,2020-02-12,213.05,213.40,214.80,211.80,9.93M,0.21%,

In [168]:

def ConvertingVolumeInFloat(volume):
    if(volume[-1] == 'M'):
        return float(volume[:len(volume)-1])* 1000000
    elif(volume[-1] == 'K'):
        return float(volume[:len(volume)-1])* 1000
    else:
        return float(volume)

In [169]:
result = data_frame.Volume.apply(lambda x: ConvertingVolumeInFloat(x))
result

0        9930000.0
1       29800000.0
2        9620000.0
3       17130000.0
4       27390000.0
           ...
1505     7780000.0
1506     8160000.0
1507    12000000.0
1508     6780000.0
1509     1860000.0
Name: Volume, Length: 1510, dtype: float64

In [153]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [154]:
plt.figure(figsize=(16,6))
sns.lineplot(data=data_frame)

ValueError: A wide-form input must have only numeric values.